<%= render "header" %>

<div class="main_base">
  <div class="main_base_">
    <div class="show_user_name_field"><%= @user.user_name %></div>
    <div class="show_user_text"><%= @user.user_text %></div>
    <div class="show_user_btns">
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to '編集', edit_user_registration_path, class: "show_user_btn" %>
      <% else %>
        <%= link_to 'フォローする', "#", class: "show_user_btn" %>
      <% end %>
    </div>
    <div class="show_user_status_field">
      <div class="show_user_status">フォロー</div>
      <div class="show_user_status">フォロワー</div>
      <div class="show_user_status"><%= link_to 'お気に入りリスト', favorites_path(id: @user.id) %></div>
    </div>
    <div class="show_list_name">
      <ul>公開リスト一覧
      <% @lists.each do |list|%>
        <li><%= list.list_name%></li>
      <% end %>
      </ul>
    </div>
  <div>
</div>